<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.demos"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <application
        android:allowBackup="true"
        android:name=".base.BaseApp"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- Activity defines -->
        <activity
            android:name=".ui.authenticator.UiAuthenticator"
            android:launchMode="singleTop"
            android:label="@string/welcom"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.webview.BaseWebView"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ui.UiActionBar"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UiImageZoom"
            android:launchMode="singleTop"
            android:theme="@style/com.app.demos.theme.light" >
        </activity>
        <activity
            android:name=".ui.UiCreateFind"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.UiCreateSpeak"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.test.UiCreateSpeakTest"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.test.GestureDetectorTest"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.test.TestImage"
            android:theme="@style/com.app.demos.theme.light" >
        </activity>
        <activity
            android:name=".ui.test.foxconn_ESS_zsf.UiFoxconnEssPost"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.test.ToolBarTitleScroll"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.test.observableScrollView.FlexibleSpaceWithImageListViewActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.test.draglayoutdemo.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.test.dragelayoutDown.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.test.dragTopLayout.MainDragTopActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ui.test.swipebacktest.DemoActivity"
            android:theme="@style/AppThemeSwipeBack.Transparent" >
        </activity>
        <activity
            android:name=".ui.test.UiSearchHistory"
            android:theme="@style/AppThemeSwipeBack.Transparent" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name=".ui.UiSpeakComment"
            android:label="@string/comment"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>


        <activity
            android:name=".test.TestUi"
            android:theme="@style/com.app.demos.theme.light" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Service defines -->
        <service
            android:name=".service.NoticeService"
            android:label="Notification Service" />
    </application>
    <!-- For using network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- For using notification -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 支持多分辨率 -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />

</manifest>